.example-spacer {
  flex: 1 1 auto;
}

.title {
    color: white;
    padding-left: 0px;
}

.logo {
    font-size: 7vh;
    font-weight: 500;
    color: rgb(0, 255, 217);
}

.user-logged-in{
        font-weight: 500;
    color: rgb(255, 255, 255);
}





.logout-btn {
  margin-left: 10px;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  border-color: white !important;
  color: white !important;
}

.logout-btn:hover {
  background-color: rgba(255, 255, 255, 0.621);
}

.user-logged-in {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

mat-toolbar {
  background-color: rgb(0, 21, 51);
  height: 74px;        // +10px from default ~64px
  min-height: 74px;    // ensures it doesn't collapse
  display: flex;
  align-items: center; // keeps content vertically centered
}