.app-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  background-image: url('./images/Tech Background-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}